html {
    font-size: 100%;/* 16px */
    scroll-behavior: smooth;
}
body {
    color:black;
    font-family: "Sawarabi Gothic";
    /* background-color:azure; */
    /* background-color:floralwhite; */
    background-color:gainsboro;
    /* background-color:lightyellow; */
    /* background-color:thistle; */
    /* background-color:papayawhip; */
}
a{
    text-decoration: none;
}
p{
    font-size: 1.3rem;
}
img{
    max-width: 100%;/* スマホでも画像が縮小される */
}
li {
    list-style: none;
    font-size: 1.2rem;
}
.site-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1px;
    font-weight: 600;
    font-size: 2.4rem;
}
.site-title img{
    width: 60px;
    margin-right: 10px;
}
.site-title a{
    color: black;
}
.wrapper{
    max-width: 960px;
    margin: 0 auto 200px auto;
    font-size: 0.9rem;
}
.sec-title{
    font-size: 2rem;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}
.fade{
    transition: all 2000ms;
    opacity: 0;
    visibility: hidden;
    transform: translate(0px,50px);
}
.fadein{
    opacity: 1;
    visibility:visible;
    transform: translate(0px,0px);
}

/* header */
#header {
    /* background-color: aquamarine; */
    max-width: 960px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 4%;
    height: 170px;
}
#header ul{
    display: flex;
    padding: 10ox 0;
    align-items: center;
}

#header ul li{
    font-size: 1rem;
    margin-left: 30px;
}
#header ul li a{
    color:black;
    transition: all 0.3s;
}
#header ul li a:hover{
    opacity: 0.5;
    color:black;
}
/* main */
#main{
    /* background-color:aquamarine; */
    margin-bottom: 200px;
}
#main img{
    width: 100%;
    max-width: 1920px;
    margin: auto;
    height: 500px;
    object-fit:cover;
    animation: SlideIn 1.6s;
}
@keyframes SlideIn {
    0%{
        opacity: 0;
        transform: translateX(-64px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

/* about */
#about{
    padding-bottom: 100px;
}
#about ul{
    margin-bottom: 30px;
    line-height: 40px;
}
#about ul li:first-child{
    margin-bottom: 30px;
    font-size: 1.5rem;
}

/* works */
#works ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#works ul li{
    width: 31%;
    margin-bottom: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*追加*/
    position: relative;
}
#works ul li img{
    width: 300px;
    height: 250px;
    object-fit:cover;
    cursor: pointer;
    transition: all 0.3s;
}
#works ul li img:hover{
    transform: scale(1.1,1.1);
    opacity:0.7;
}
#works ul li video{
    width: 300px;
    height: 250px;
    object-fit:cover;
    cursor: pointer;
    transition: all 0.3s;
}
#works ul li video:hover{
    transform: scale(1.1,1.1);
    opacity:0.7;
}
#video-btn{
    content: "";
    position: absolute;
    bottom: 50px;
    cursor: pointer;
    background-color:aquamarine;
}

/* news */
#news dl{
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid gray;
    margin-bottom: 20px;
}
#news dt{
    width: 20%;
    border-bottom: 1px solid gray;
    padding: 15px;
}
#news dd{
    width: 80%;
    border-bottom: 1px solid gray;
    padding: 15px;
}

/* contact */
#contact p{
    text-align: center;
    margin-bottom: 20px;
}
#contact div{
    text-align: center;
}
#contact img{
    width: 200px;
    margin-top: 30px;
}
#back-to-top{
    text-align: center;
    margin-top: 50px;
}
#back-to-top a{
    text-decoration:underline;
    color:black;
    transition: all 0.3s;
}
#back-to-top a:hover{
    opacity: 0.5;
}

/* footer */
footer {
	width: 100%;
	height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
}
.social {
	display: flex;
}
.social a{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	color: white;
	background-color:black;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	margin: 0 10px;
	transition: all 0.3;
}
.social a:hover {
	transform: scale(1.3);
}

/* pagetop_btn */
.pagetop-btn {
    height: 80px;
    width: 80px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    background: #fff;
    border: solid 2px #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.pagetop__arrow {
    height: 20px;
    width: 20px;
    border-top: 4px solid #000;
    border-right: 4px solid #000;
    transform: translateY(20%) rotate(-45deg);
}
@media (hover: hover) and (pointer: fine) {
    .pagetop-btn:hover{
        background: rgb(20, 20, 20);
    }
    .pagetop-btn:hover .pagetop__arrow{
        border-top: 4px solid white;
        border-right: 4px solid white;
    }
}

/* sp */
@media screen and (max-width:650px) {
    #header{
        height: 200px;
    }
    .site-title{
        flex-direction: column;
        line-height: 50px;
        margin-top: 10px;
    }
    .site-title img{
        width: 50px;
    }
    /* header */
    #header{
        flex-direction: column;
        height: auto;
        line-height: 60px;
        margin-top: 20px;
    }
    #header li{
        font-size: 0.8rem;
        margin-left: 20px;
    }
    #header li img.icon{
        width: 20px;
        margin-top: 25px;
    }
    /* about */
    #about{
        margin: 0 30px;
    }
    /* works */
    #works ul{
        flex-direction: column;
        align-items: center;
    }
    #works ul li{
        width: 100%;
    }
    /* news */
    #news dl{
        flex-direction: column;
        margin: 0 30px;
    }
    #news dt{
        width: 100%;
        border-bottom: none;
        padding-bottom: 0;
    }
    #news dd{
        width: 100%;
        padding-top: 0;
    }
    /* contact */
    #contact p{
        font-size: 0.9rem;
    }
    /* footer */
    footer {
        height: 100px;
    }
    /* pagetop_btn */
    .pagetop-btn{
        width: 50px;
        height: 50px;
    }
    .pagetop__arrow {
        height: 10px;
        width: 10px;
    }
}

/* snow */
.snow-container {
	background-image: url("img/snowfall.jpg");
    width: 100%;
	height: 80vh;
	background-position: center;
	background-size: cover;
	position: relative;
	overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.snow-container::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0.05;
}
.phrase {
	color: #fff;
	text-align: center;
	font-size: 80px;
	/* font-family: cursive; */
	font-family: Arial;
	font-weight: bold;
	z-index: 2px;
}
.snow {
    /*雪の色*/
    color: snow;
    /*雪の大きさ*/
    font-size: 10px;
    /*初期位置*/
    position: fixed;
    top: -5%;
    /*雪を適当な幅で降らせる*/
    text-shadow:
    5vw   -100px 2px,
    10vw  -400px 3px,
    20vw  -500px 4px,
    30vw  -580px 1px,
    39vw  -250px 2px,
    42vw  -340px 5px,
    56vw  -150px 2px,
    63vw  -180px 0,
    78vw  -220px 4px,
    86vw  -320px 9px,
    94vw  -170px 7px;
    /*雪アニメーション1*/
    animation: roll 5s linear infinite;
}
    /*2つめの雪アニメーション*/
.snow2nd{
    animation: anim 8s linear infinite;
}
  
@keyframes roll {
    0% {transform:rotate(0deg);}
    90% {opacity:1;}
    100% {transform:rotate(20deg);top:100%;opacity:0;}
}
@keyframes anim {
    100% {color:transparent;top:150%;}
}
