html {
    font-size: 100%;/* 16px */
}
body {
    color:black;
    font-family: "Sawarabi Gothic";
}
a{
    text-decoration: none;
}
p{
    font-size: 1.3rem;
}
img{
    max-width: 100%;/* スマホでも画像が縮小される */
}
li {
    list-style: none;
    font-size: 1.2rem;
}
.site-title{
    line-height: 1px;
    font-weight: 600;
    font-size: 2.4rem;
}
.site-title a{
    color: black;
}
.wrapper{
    max-width: 960px;
    margin: 0 auto 150px auto;
    font-size: 0.9rem;
}
.sec-title{
    font-size: 2rem;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

/* header */
#header {
    /* background-color: aquamarine; */
    max-width: 960px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 4%;
    height: 170px;
}
#header ul{
    display: flex;
    padding: 10ox 0;
    align-items: center;
}

#header ul li{
    font-size: 1rem;
    margin-left: 30px;
}
#header ul li a{
    color:black;
    transition: all 0.3s;
}
#header ul li a:hover{
    opacity: 0.5;
    color:black;
}
#header li img.icon{
    width: 30px;
}

/* main */
#main{
    /* background-color:aquamarine; */
    margin-bottom: 80px;
}
#main img{
    width: 100%;
    max-width: 1920px;
    margin: auto;
    height: 500px;
    object-fit:cover;
}

/* about */
#about ul{
    margin-bottom: 30px;
    line-height: 40px;
}
#about ul li:first-child{
    margin-bottom: 30px;
    font-size: 1.5rem;
}

/* works */
#works ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#works ul li{
    width: 31%;
    margin-bottom: 23px;
}
#works ul li img{
    width: 300px;
    height: 250px;
    object-fit:cover;
    cursor: pointer;
    transition: all 0.3s;
}
#works ul li img:hover{
    transform: scale(1.1,1.1);
    opacity:0.7;
}

/* news */
#news dl{
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid gray;
    margin-bottom: 20px;
}
#news dt{
    width: 20%;
    border-bottom: 1px solid gray;
    padding: 15px;
}
#news dd{
    width: 80%;
    border-bottom: 1px solid gray;
    padding: 15px;
}

/* contact */
#contact p{
    text-align: center;
    margin-bottom: 20px;
}
#contact dl{
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}
#contact dt{
    width: 15%;
    margin-bottom: 10px;
}
#contact dd{
    width: 85%;
    margin-bottom: 10px;
}
#contact dd input,
#contact dd textarea{
    width:100%;
    border: 1px solid gray;
    padding: 10px;
}
#contact dd textarea{
    height: 10rem;
}
#contact .button{
    text-align: center;
}
#contact .button input{
    border: 1px solid black;
    background-color: black;
    width: 200px;
    padding: 15px 0;
    color: white;
    transition: all 0.3s;
}
#contact .button input:hover{
    background-color: white;
    color: black;
}

/* sp */
@media screen and (max-width:650px) {
    .site-title{
        margin-top: 20px;
    }
    /* header */
    #header{
        flex-direction: column;
        height: auto;
        line-height: 60px;
        margin-top: 20px;
    }
    #header li{
        font-size: 0.8rem;
        margin-left: 20px;
    }
    #header li img.icon{
        width: 20px;
        margin-top: 25px;
    }
    /* about */
    #about{
        margin: 0 30px;
    }
    /* works */
    #works ul{
        flex-direction: column;
        padding: 0 50px;
    }
    #works ul li{
        width: 100%;

    }
    /* news */
    #news dl{
        flex-direction: column;
        margin: 0 30px;
    }
    #news dt{
        width: 100%;
        border-bottom: none;
        padding-bottom: 0;
    }
    #news dd{
        width: 100%;
        padding-top: 0;
    }
    /* contact */
    #contact dl{
        flex-direction: column;
    }
    #contact dt{
        width: 100%;
    }
    #contact dd{
        width: 100%;
    }
    
}