html {
    font-size: 100%;/* 16px */
    scroll-behavior: smooth;
}
body {
    color:black;
    font-family: "Sawarabi Gothic";
}
a{
    text-decoration: none;
}
p{
    font-size: 1.3rem;
}
img{
    max-width: 100%;/* スマホでも画像が縮小される */
}
li {
    list-style: none;
    font-size: 1.2rem;
}
.site-title{
    line-height: 1px;
    font-weight: 600;
    font-size: 2.4rem;
}
.site-title a{
    color: black;
}
.wrapper{
    max-width: 960px;
    margin: 0 auto 150px auto;
    font-size: 0.9rem;
}
.sec-title{
    font-size: 2rem;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

/* header */
#header {
    /* background-color: aquamarine; */
    max-width: 960px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 4%;
    height: 170px;
}
#header ul{
    display: flex;
    padding: 10ox 0;
    align-items: center;
}

#header ul li{
    font-size: 1rem;
    margin-left: 30px;
}
#header ul li a{
    color:black;
    transition: all 0.3s;
}
#header ul li a:hover{
    opacity: 0.5;
    color:black;
}
#header li img.icon{
    width: 30px;
}

/* main */
#main{
    /* background-color:aquamarine; */
    margin-bottom: 80px;
}
#main img{
    width: 100%;
    max-width: 1920px;
    margin: auto;
    height: 500px;
    object-fit:cover;
}

/* about */
#about ul{
    margin-bottom: 30px;
    line-height: 40px;
}
#about ul li:first-child{
    margin-bottom: 30px;
    font-size: 1.5rem;
}

/* works */
#works ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#works ul li{
    width: 31%;
    margin-bottom: 23px;
    /*追加*/
    position: relative;
}
#works ul li img{
    width: 300px;
    height: 250px;
    object-fit:cover;
    cursor: pointer;
    transition: all 0.3s;
}
#works ul li img:hover{
    transform: scale(1.1,1.1);
    opacity:0.7;
}
/*追加*/
#works ul li video{
    width: 300px;
    height: 250px;
    object-fit:cover;
    cursor: pointer;
    transition: all 0.3s;
}
#works ul li video:hover{
    transform: scale(1.1,1.1);
    opacity:0.7;
}
#video-btn{
    content: "";
    position: absolute;
    bottom: 50px;
    cursor: pointer;
    background-color:aquamarine;
}
/**/

/* news */
#news dl{
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid gray;
    margin-bottom: 20px;
}
#news dt{
    width: 20%;
    border-bottom: 1px solid gray;
    padding: 15px;
}
#news dd{
    width: 80%;
    border-bottom: 1px solid gray;
    padding: 15px;
}

/* contact */
#contact p{
    text-align: center;
    margin-bottom: 20px;
}
#contact div{
    text-align: center;
}
#contact img{
    width: 200px;
    margin-top: 30px;
}
#back-to-top{
    text-align: center;
    margin-top: 50px;
}
#back-to-top a{
    text-decoration:underline;
    color:black;
    transition: all 0.3s;
}
#back-to-top a:hover{
    opacity: 0.5;
    color:black;
}

/* top_btn */
.pagetop {
    height: 60px;
    width: 60px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    background: #fff;
    border: solid 2px #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.pagetop__arrow {
    height: 10px;
    width: 10px;
    border-top: 4px solid #000;
    border-right: 4px solid #000;
    transform: translateY(20%) rotate(-45deg);
}
@media (hover: hover) and (pointer: fine) {
    .pagetop:hover, .pagetop:hover .pagetop__arrow {
        background: aliceblue;
    }
}

/* sp */
@media screen and (max-width:650px) {
    .site-title{
        margin-top: 20px;
    }
    /* header */
    #header{
        flex-direction: column;
        height: auto;
        line-height: 60px;
        margin-top: 20px;
    }
    #header li{
        font-size: 0.8rem;
        margin-left: 20px;
    }
    #header li img.icon{
        width: 20px;
        margin-top: 25px;
    }
    /* about */
    #about{
        margin: 0 30px;
    }
    /* works */
    #works ul{
        flex-direction: column;
        /*padding: 0 50px; */
    }
    #works ul li{
        width: 100%;
    }
    /* news */
    #news dl{
        flex-direction: column;
        margin: 0 30px;
    }
    #news dt{
        width: 100%;
        border-bottom: none;
        padding-bottom: 0;
    }
    #news dd{
        width: 100%;
        padding-top: 0;
    }
    /* contact */
    #contact p{
        font-size: 0.9rem;
    }
    /* top_btn */
    #pagetop a {
        width: 45px;
        height: 45px;
    }
}
